<template>
  <div class="navbar navbar-expand-lg navbar-light">
    <div class="text-center d-lg-none w-100">
      <button type="button" class="navbar-toggler dropdown-toggle" data-toggle="collapse" data-target="#navbar-footer">
        <i class="icon-unfold mr-2"></i>
      </button>
    </div>
    <div class="navbar-collapse collapse" id="navbar-footer">
      <span class="navbar-text">
        &copy; {{ getCurrentYear() }}. <a href="{{ appUrl }}">Maintained</a> by <a href="" target="_blank">{{ appName }}</a>
      </span>
    </div>
  </div>
</template>


<script>

export default {
  data() {
    return {
      appName: import.meta.env.VITE_APP_NAME || 'Default App Name',
      appUrl: import.meta.env.VITE_APP_URL || 'Default App Name',
    };
  },
  methods: {
    getCurrentYear() {
      const currentYear = new Date().getFullYear();
      return currentYear;
    },
  },
};
</script>