<template>
  <div class="sidebar sidebar-light sidebar-main sidebar-expand-md">
    <div class="sidebar-mobile-toggler text-center">
      <a href="javascript:void(0);" class="sidebar-mobile-main-toggle">
        <i class="icon-arrow-left8"></i>
      </a>
      Navigation
      <a href="javascript:void(0);" class="sidebar-mobile-expand">
        <i class="icon-screen-full"></i>
        <i class="icon-screen-normal"></i>
      </a>
    </div>
    <div class="sidebar-content">
      <div class="card card-sidebar-mobile">
        <ul class="nav nav-sidebar" data-nav-type="accordion">
          <li class="nav-item">
            <router-link to="/" class="nav-link" :class="{ 'active': isActiveMenu('/') }">
              <i class="icon-home4"></i><span>Dashboard</span>
            </router-link>
          </li>
          <li class="nav-item">
            <router-link to="/tasks" class="nav-link" :class="{ 'active': isActiveMenu('/tasks') }">
              <i class="icon-shutter"></i><span>Manage Tasks</span>
            </router-link>
          </li>
          <li class="nav-item">
            <router-link to="/companies" class="nav-link" :class="{ 'active': isActiveMenu('/companies') }">
              <i class="icon-shutter"></i><span>Manage Companies</span>
            </router-link>
          </li>
          <li class="nav-item">
            <router-link to="/projects" class="nav-link" :class="{ 'active': isActiveMenu('/projects') }">
              <i class="icon-shutter"></i><span>Manage Projects</span>
            </router-link>
          </li>
        </ul>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      authUser: {}, // Set the authenticated user data here
    };
  },
  methods: {
    isActiveMenu(route) {
      // Implement logic to check if the route is active
      // For example, using Vue Router's $route.path
      return this.$route.path === route;
    },
  },
};
</script>

<style scoped>
/* Add your component-specific styles here */
</style>
