<template>
  <div class="navbar navbar-expand-md navbar-light">
    <div class="navbar-brand" style="padding-top:2px; padding-bottom:2px;">
      <router-link to="/" class="d-inline-block" style="padding-top: 4px; padding-bottom: 2px;">
        <img :src="appLogoSrc" :alt="appName" style="width: 180px; height: 39px; padding-top: 0px; margin-top: 0px;">
      </router-link>
    </div>
    <div class="d-md-none">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-mobile"><i class="icon-tree5"></i></button>
      <button class="navbar-toggler sidebar-mobile-main-toggle" type="button"><i class="icon-paragraph-justify3"></i></button>
    </div>
    <div class="collapse navbar-collapse" id="navbar-mobile">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a href="javascript:void(0);" class="navbar-nav-link sidebar-control sidebar-main-toggle d-none d-md-block">
            <i class="icon-paragraph-justify3"></i>
          </a>
        </li>
      </ul>
    </div>
  </div>
</template>

<script>
import { APP_URL } from '../../constants.js';

export default {
  data() {
    return {
      appLogoSrc: APP_URL + 'filemanager/logo.svg',
    };
      console.log(appLogoSrc);

  },
  computed: {
    appName() {
      // Compute the appName if needed
      return 'Your App Name';
    },
  },
};
</script>
