<template>
  <div class="card">
    <div class="card-header bg-transparent header-elements-inline">
      <h6 class="card-title">List of Companies</h6>
      <div class="header-elements">
        <router-link to="/company/create" class="pull-right">
          <button type="button" class="btn btn-primary">Add Company</button>
        </router-link>
      </div>
    </div>
    <div class="card-body">
      <div class="table-responsive mt-2">
        <table class="table table-bordered">
          <!-- Table headers -->
          <thead class="bg-blue">
            <tr>
              <th width="4%">S.No</th>
              <th>Company Name</th>
              <th>Action</th>
            </tr>
          </thead>

          <!-- Table body -->
          <tbody>
            <tr v-for="(company, index) in companies" :key="company.id">
              <td><strong>{{ index + 1 }}</strong></td>
              <td>{{ company.company_name }}</td>
              <td class="text-center">
                <div class="list-icons">
                  <div class="dropdown">
                    <a href="#" class="list-icons-item" @click.prevent="toggleDropdown(index)"><i class="icon-menu9"></i></a>
                    <div v-if="isDropdownOpen === index" class="dropdown-menu dropdown-menu-right show">
                      <a :href="'/company/edit/' + company.id" data-toggle="tooltip" title="Edit" class="dropdown-item text-primary-600" :data-original-title="'Edit'"><i class="icon-pencil"></i> Edit</a>
                      <a :href="'/company/view/' + company.id" data-toggle="tooltip" title="View" class="dropdown-item text-teal-600" :data-original-title="'View'"><i class="icon-eye"></i> View</a>
                      <a :href="'/company/delete/' + company.id" data-toggle="tooltip" title="Archive" class="dropdown-item text-danger-600" :data-original-title="'Archive'"><i class="icon-archive"></i> Archive</a>
                    </div>
                  </div>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</template>

<script>
import ApiService from '../../../api.js';

export default {
  data() {
    return {
      companies: [], // Array to store company data
      searchQuery: '', // Variable to store search query
      isDropdownOpen: false,

    };
  },
  methods: {
    async fetchCompanies() {
      try {
        const response = await ApiService.getCompanies();
        this.companies = response.data;
      } catch (error) {
        console.error('Error fetching companies:', error);
      }
    },
    toggleDropdown(index) {
      this.isDropdownOpen = this.isDropdownOpen === index ? null : index;
    },
  },
  mounted() {
    this.fetchCompanies();
  },
};
</script>