<template>
  <div class="card">
    <div class="card-header bg-transparent header-elements-inline">
      <h6 class="card-title">{{ companyId ? 'Edit Company' : 'Add Company' }}</h6>
      <div class="header-elements">
        <router-link v-if="!companyId" to="/companies" class="pull-right">
          <button type="button" class="btn btn-primary">Manage Company</button>
        </router-link>
      </div>
    </div>
    <div class="card-body">
      <div v-if="loading" class="text-center">Loading...</div>
      <div v-else>
        <div v-if="successMessage" class="alert alert-success">
          {{ successMessage }}
        </div>
        <div v-if="errorMessage" class="alert alert-danger">
          {{ errorMessage }}
        </div>
        <form @submit.prevent="companyId ? updateCompany() : submitForm()" class="form-horizontal" method="post" enctype="multipart/form-data">
          <div class="row">
            <div class="col-md-10 offset-md-1">
              <fieldset>
                <div class="form-group row">
                  <label class="col-form-label col-md-2">Company Name</label>
                  <div class="col-md-10">
                    <input v-model="company_name" class="form-control" type="text" name="company_name" placeholder="Enter Company Name" />
                    <span v-if="formSubmitted && !company_name" class="text-danger">Company Name is required</span>
                  </div>
                </div>
              </fieldset>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="text-center">
                <button type="submit" class="btn btn-success">Save</button>
                <router-link to="/companies" class="btn btn-danger" data-toggle="confirmation" data-btn-ok-label="Yes" data-btn-ok-icon="glyphicon glyphicon-share-alt" data-btn-ok-class="btn-success btn-xs" data-btn-cancel-label="Cancel" data-btn-cancel-icon="glyphicon glyphicon-ban-circle" data-btn-cancel-class="btn-danger btn-xs" data-title="" data-content="Are you sure you want to cancel?">Cancel</router-link>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</template>

<script>
import ApiService from '../../../api.js';

export default {
  data() {
    return {
      companyId: null,
      company: {},
      company_name: '',
      loading: false,
      error: null,
      formSubmitted: false,
      successMessage: null,
      errorMessage: null,
    };
  },
  methods: {
    async getCompany() {
      try {
        this.loading = true;
        const response = await ApiService.getCompany(this.companyId);
        this.company = response.data;
        this.company_name = this.company.company_name;
      } catch (error) {
        this.error = 'Error fetching company data';
      } finally {
        this.loading = false;
      }
    },
    async updateCompany() {
      this.formSubmitted = true;
      if (!this.company_name) {
        return;
      }
      try {
        this.loading = true;
        const response = await ApiService.updateCompany(this.companyId, {
          company_name: this.company_name,
        });
        this.company = response.data;
        this.successMessage = 'Company updated successfully';
      } catch (error) {
        this.errorMessage = 'Error updating company';
      } finally {
        this.loading = false;
      }
    },
    async submitForm() {
      this.formSubmitted = true;
      if (!this.company_name) {
        return;
      }
      try {
        this.loading = true;
        const response = await ApiService.createCompany({
          company_name: this.company_name,
        });
        this.company = response.data;
        this.successMessage = 'Company added successfully';
      } catch (error) {
        this.errorMessage = 'Error adding company';
      } finally {
        this.loading = false;
      }
    },
  },
  created() {
    this.companyId = this.$route.params.companyId;
    if (this.companyId) {
      this.getCompany();
    }
  },
};
</script>