<template>
  <!-- start page title -->
  <div class="row">
    <div class="col-12">
      <div class="page-title-box d-flex align-items-center justify-content-between">
        <h4 class="mb-0 font-size-18">Contact Us List</h4>
        <div class="page-title-right">
          <ol class="breadcrumb m-0">
            <li class="breadcrumb-item"><a href="javascript:void(0);">Contact Us</a></li>
            <li class="breadcrumb-item active">List</li>
          </ol>
        </div>
      </div>
    </div>
  </div>
  <!-- end page title -->

  <div class="row">
    <div class="col-lg-12">
      <div>
        <div class="table-responsive">
          <table class="table project-list-table table-nowrap align-middle table-borderless">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">User Name</th>
                <th scope="col">User Email</th>
                <th scope="col">Message</th>
                <th scope="col">Status</th>
                <th scope="col">Created Date</th>
                <th scope="col">Action</th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="(contact, index) in contactus" :key="contact.id">
                <td><strong>{{ index + 1 }}</strong></td>
                <td>{{ contact.username }}</td>
                <td>{{ contact.useremail }}</td>
                <td class="message-cell">{{ contact.message }}</td>
                <td>{{ contact.status }}</td>
                <td>{{ contact.created_at }}</td>
                <td>
                  <div class="dropdown" :id="'dropdown-' + index">
                    <a href="#" class="dropdown-toggle card-drop" data-bs-toggle="dropdown" aria-expanded="false" @click.prevent="toggleDropdown(index)">
                      <i class="mdi mdi-dots-horizontal font-size-18"></i>
                    </a>
                    <div class="dropdown-menu dropdown-menu-end" :aria-labelledby="'dropdown-' + index">
                      <a href="#" @click.prevent="deleteContactUs(contact.id)" title="Delete" class="dropdown-item">Delete</a>
                    </div>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <!-- end row -->

  <div v-if="showLoadMoreButton" class="row">
    <div class="col-12">
      <div class="text-center my-3">
        <a href="javascript:void(0);" class="text-success"  @click.prevent="loadMore"><i v-if="loading" class="bx bx-loader bx-spin font-size-18 align-middle me-2"></i> Load more </a>
      </div>
    </div> <!-- end col-->
  </div>
</template>

<script>
import ApiService from '../../../api.js';

export default {
  data() {
    return {
      contactus: [],
      loading: false,
      totalCount: 0,
      currentPage: 1,
      showLoadMoreButton: true,
      openDropdownIndex: null,
      successMessage: '',
      errorMessage: '',
    };
  },
  methods: {
    async fetchContacts(page) {
      try {
        this.loading = true;

        const params = {
          page: this.currentPage,
          status: 'active',
          limit: 20,
          offset: 0
        };

        const response = await ApiService.getContactUsList(params);
        const newContacts = response.data.data;
        this.totalCount = response.data.count;
        // Append new contacts to existing list
        this.contactus = [...this.contactus, ...newContacts];
        this.showLoadMoreButton = newContacts.length > 0;
        this.currentPage ++;
      } catch (error) {
        console.error('Error fetching contacts:', error);
      } finally {
        this.loading = false;
      }
    },
    async loadMore() {
      if (this.contactus.length < this.totalCount) {
        await this.fetchContacts();
      } else {
        // If all records are loaded, hide the load more button
        this.showLoadMoreButton = false;
      }
    },
    handleScroll() {
      const bottomOffset = 20; // Adjust as needed
      const scrollY = window.scrollY;
      const windowHeight = window.innerHeight;
      const documentHeight = document.documentElement.scrollHeight;
      if (scrollY + windowHeight >= documentHeight - bottomOffset) {
        this.loadMore();
      }
    },
    async deleteContactUs(postId) {
      try {
        const response = await ApiService.deleteContactUs(postId);
        console.log('Contact Us deleted successfully:', response.data);
        this.errorMessage = '';
        this.successMessage = 'Contact Us deleted successfully';
        this.fetchContacts();
      } catch (error) {
        console.error('Error deleting post:', error);
        this.successMessage = '';
        this.errorMessage = 'Error deleting post';
      }
    },
    toggleDropdown(index) {
      if (this.openDropdownIndex === index) {
        this.openDropdownIndex = null;
      } else {
        this.openDropdownIndex = index;
      }
    },
  },
  mounted() {
    this.fetchContacts();
    window.addEventListener('scroll', this.handleScroll);
  },
  beforeDestroy() {
    window.removeEventListener('scroll', this.handleScroll);
  },
};
</script>

<style scoped>
.message-cell {
  width: 500px; /* Adjust width as needed */
  word-wrap: break-word; /* Allow long words to be broken and wrap onto the next line */
  white-space: pre-line; /* Preserve line breaks in the message */
}
</style>