<template>
  <div class="account-pages my-5 pt-sm-5">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-8 col-lg-6 col-xl-5">
          <div class="card overflow-hidden">
            <div class="card-body pt-0">
              <div class="p-2">
                <div v-if="successMessage" class="alert alert-success text-center mb-4" role="alert">
                  {{ successMessage }}
                </div>
                <div v-if="errorMessage" class="alert alert-danger text-center mb-4" role="alert">
                  {{ errorMessage }}
                </div>
                <form @submit.prevent="changePassword" class="form-horizontal" method="post">
                  <div class="mb-3">
                    <label class="form-label">Old Password</label>
                    <div class="input-group auth-pass-inputgroup">
                      <input type="password" class="form-control" placeholder="Enter password" name="oldPassword" aria-label="Password" aria-describedby="password-addon" v-model.trim="oldPassword" />
                      <button class="btn btn-light" type="button" id="password-addon"><i class="mdi mdi-eye-outline"></i></button>
                    </div>
                    <span v-if="formSubmitted && !oldPassword" class="text-danger">Old password is required</span>
                  </div>
                  <div class="mb-3">
                    <label class="form-label">New Password</label>
                    <div class="input-group auth-pass-inputgroup">
                      <input type="password" class="form-control" placeholder="Enter password" name="newPassword" aria-label="Password" aria-describedby="password-addon" v-model.trim="newPassword" />
                      <button class="btn btn-light" type="button" id="password-addon"><i class="mdi mdi-eye-outline"></i></button>
                    </div>
                    <span v-if="formSubmitted && !newPassword" class="text-danger">New password is required</span>
                  </div>
                  <div class="mb-3">
                    <label class="form-label">Confirm Password</label>
                    <div class="input-group auth-pass-inputgroup">
                      <input type="password" class="form-control" placeholder="Enter password" name="confirmPassword" aria-label="Password" aria-describedby="password-addon" v-model.trim="confirmPassword" />
                      <button class="btn btn-light" type="button" id="password-addon"><i class="mdi mdi-eye-outline"></i></button>
                    </div>
                    <span v-if="formSubmitted && !confirmPassword" class="text-danger">Confirm password is required</span>
                    <span v-if="formSubmitted && confirmPassword !== newPassword" class="text-danger">Passwords do not match</span>
                  </div>
                  <div class="mt-3 d-grid">
                    <button class="btn btn-primary waves-effect waves-light" type="submit">Change Password</button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { defineComponent } from 'vue';
import ApiService from '../../api.js';

export default defineComponent({
  data() {
    return {
      appName: import.meta.env.VITE_APP_NAME,
      oldPassword: '',
      newPassword: '',
      confirmPassword: '', // Changed to an empty string
      formSubmitted: false,
      loading: false,
      successMessage: null,
      errorMessage: null,
    };
  },
  methods: {
    async changePassword() {
      this.formSubmitted = true;
      this.errorMessage = null; // Reset error message
      
      if (!this.oldPassword.trim() || !this.newPassword.trim() || !this.confirmPassword.trim()) {
        return;
      }
      
      if (this.confirmPassword !== this.newPassword) {
        this.errorMessage = 'Passwords do not match';
        return;
      }
      
      try {
        const response = await ApiService.changePassword(this.oldPassword, this.newPassword, this.confirmPassword);
        if (response.data.status === 200) {
          this.oldPassword = '';
          this.newPassword = '';
          this.confirmPassword = '';
          this.successMessage = response.data.message;
          this.formSubmitted = false; // Reset form submitted flag
        } else {
          console.log('Password change failed');
          this.errorMessage = response.data.message;
        }
      } catch (error) {
        console.error('Error:', error);
        this.errorMessage = 'An error occurred while processing your request';
      } finally {
        this.loading = false;
      }
    },
  },
});
</script>

<style scoped>
/* Add any custom styles here */
</style>
