<template>
    <!-- start page title -->
    <div class="row">
      <div class="col-12">
        <div class="page-title-box d-sm-flex align-items-center justify-content-between">
          <h4 class="mb-sm-0 font-size-18">Dashboard</h4>

          <div class="page-title-right">
            <ol class="breadcrumb m-0">
              <li class="breadcrumb-item"><a href="javascript: void(0);">Dashboards</a></li>
              <li class="breadcrumb-item active">Dashboard</li>
            </ol>
          </div>
        </div>
      </div>
    </div>
    <!-- end page title -->
    <div class="row">
      <div class="col-xl-4">
        <!-- Card 1 -->
        <div class="card overflow-hidden">
          <!-- Card Header -->
          <div class="bg-primary bg-soft">
            <div class="row">
              <div class="col-7">
                <div class="text-primary p-3">
                  <h5 class="text-primary">Welcome Back !</h5>
                  <p>Skote Dashboard</p>
                </div>
              </div>
              <div class="col-5 align-self-end">
                <img src="assets/images/profile-img.png" alt="" class="img-fluid">
              </div>
            </div>
          </div>
          <!-- Card Body -->
          <div class="card-body pt-0">
            <!-- User Info -->
            <div class="row">
              <div class="col-sm-4">
                <!-- User Avatar -->
                <div class="avatar-md profile-user-wid mb-4">
                  <img src="assets/images/users/avatar-1.jpg" alt="" class="img-thumbnail rounded-circle">
                </div>
                <h5 class="font-size-15 text-truncate">Henry Price</h5>
                <p class="text-muted mb-0 text-truncate">UI/UX Designer</p>
              </div>
              <div class="col-sm-8">
                <!-- User Stats -->
                <div class="pt-4">
                  <div class="row">
                    <div class="col-6">
                      <h5 class="font-size-15">125</h5>
                      <p class="text-muted mb-0">Projects</p>
                    </div>
                    <div class="col-6">
                      <h5 class="font-size-15">$1245</h5>
                      <p class="text-muted mb-0">Revenue</p>
                    </div>
                  </div>
                  <div class="mt-4">
                    <a href="javascript:void(0);" class="btn btn-primary waves-effect waves-light btn-sm">View Profile <i class="mdi mdi-arrow-right ms-1"></i></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Card 2 -->
        <div class="card">
          <!-- Card Body -->
          <div class="card-body">
            <h4 class="card-title mb-4">Monthly Earning</h4>
            <div class="row">
              <div class="col-sm-6">
                <!-- Earning Info -->
                <p class="text-muted">This month</p>
                <h3>$34,252</h3>
                <p class="text-muted"><span class="text-success me-2"> 12% <i class="mdi mdi-arrow-up"></i> </span> From previous period</p>
                <div class="mt-4">
                  <a href="javascript:void(0);" class="btn btn-primary waves-effect waves-light btn-sm">View More <i class="mdi mdi-arrow-right ms-1"></i></a>
                </div>
              </div>
              <div class="col-sm-6">
                <!-- Radial Bar Chart -->
                <div class="mt-4 mt-sm-0">
                  <div id="radialBar-chart" data-colors='["--bs-primary"]' class="apex-charts"></div>
                </div>
              </div>
            </div>
            <p class="text-muted mb-0">We craft digital, graphic and dimensional thinking.</p>
          </div>
        </div>
      </div>

      <div class="col-xl-8">
        <!-- Mini Stats Cards -->
        <div class="row">
          <!-- Card 1 -->
          <div class="col-md-4">
            <div class="card mini-stats-wid">
              <div class="card-body">
                <div class="d-flex">
                  <div class="flex-grow-1">
                    <p class="text-muted fw-medium">Orders</p>
                    <h4 class="mb-0">1,235</h4>
                  </div>
                  <div class="flex-shrink-0 align-self-center">
                    <div class="mini-stat-icon avatar-sm rounded-circle bg-primary">
                      <span class="avatar-title">
                        <i class="bx bx-copy-alt font-size-24"></i>
                      </span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- Card 2 -->
          <div class="col-md-4">
            <div class="card mini-stats-wid">
              <div class="card-body">
                <div class="d-flex">
                  <div class="flex-grow-1">
                    <p class="text-muted fw-medium">Revenue</p>
                    <h4 class="mb-0">$35,723</h4>
                  </div>
                  <div class="flex-shrink-0 align-self-center ">
                    <div class="avatar-sm rounded-circle bg-primary mini-stat-icon">
                      <span class="avatar-title rounded-circle bg-primary">
                        <i class="bx bx-archive-in font-size-24"></i>
                      </span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- Card 3 -->
          <div class="col-md-4">
            <div class="card mini-stats-wid">
              <div class="card-body">
                <div class="d-flex">
                  <div class="flex-grow-1">
                    <p class="text-muted fw-medium">Average Price</p>
                    <h4 class="mb-0">$16.2</h4>
                  </div>
                  <div class="flex-shrink-0 align-self-center">
                    <div class="avatar-sm rounded-circle bg-primary mini-stat-icon">
                      <span class="avatar-title rounded-circle bg-primary">
                        <i class="bx bx-purchase-tag-alt font-size-24"></i>
                      </span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Email Sent Chart -->
        <div class="card">
          <div class="card-body">
            <div class="d-sm-flex flex-wrap">
              <h4 class="card-title mb-4">Email Sent</h4>
              <div class="ms-auto">
                <ul class="nav nav-pills">
                  <li class="nav-item">
                    <a class="nav-link" href="index.html#">Week</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="index.html#">Month</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link active" href="index.html#">Year</a>
                  </li>
                </ul>
              </div>
            </div>

            <!-- Stacked Column Chart -->
            <div id="stacked-column-chart" class="apex-charts" data-colors='["--bs-primary", "--bs-warning", "--bs-success"]' dir="ltr"></div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <!-- Card 1 -->
      <div class="col-xl-4">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title mb-4">Social Source</h4>
            <div class="text-center">
              <!-- ... (Rest of the HTML code for Card 1) ... -->
            </div>
            <div class="row mt-4">
              <div class="col-4" v-for="(source, index) in socialSources" :key="index">
                <!-- Social Source Info -->
                <div class="social-source text-center mt-3">
                  <div class="avatar-xs mx-auto mb-3">
                    <span :class="['avatar-title rounded-circle', source.bgClass, 'font-size-16']">
                      <i :class="[source.iconClass, 'text-white']"></i>
                    </span>
                  </div>
                  <h5 class="font-size-15">{{ source.name }}</h5>
                  <p class="text-muted mb-0">{{ source.sales }} sales</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Card 2 -->
      <div class="col-xl-4">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title mb-5">Activity</h4>
            <ul class="verti-timeline list-unstyled">
              <li class="event-list" v-for="(activity, index) in activities" :key="index" :class="{ 'active': activity.active }">
                <!-- Activity Info -->
                <div class="event-timeline-dot">
                  <i class="bx bx-right-arrow-circle font-size-18"></i>
                </div>
                <div class="d-flex">
                  <div class="flex-shrink-0 me-3">
                    <h5 class="font-size-14">{{ activity.date }} <i class="bx bx-right-arrow-alt font-size-16 text-primary align-middle ms-2"></i></h5>
                  </div>
                  <div class="flex-grow-1">
                    <div>
                      {{ activity.description }}
                    </div>
                  </div>
                </div>
              </li>
            </ul>
            <div class="text-center mt-4"><a href="javascript:void(0);" class="btn btn-primary waves-effect waves-light btn-sm">View More <i class="mdi mdi-arrow-right ms-1"></i></a></div>
          </div>
        </div>
      </div>

      <!-- Card 3 -->
      <div class="col-xl-4">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title mb-4">Top Cities Selling Product</h4>
            <div class="text-center">
              <!-- ... (Rest of the HTML code for Card 3) ... -->
            </div>
            <div class="table-responsive mt-4">
              <table class="table align-middle table-nowrap">
                <tbody>
                  <tr v-for="(city, index) in topCities" :key="index">
                    <!-- Top Cities Info -->
                    <td style="width: 30%">
                      <p class="mb-0">{{ city.name }}</p>
                    </td>
                    <td style="width: 25%">
                      <h5 class="mb-0">{{ city.sales }}</h5>
                    </td>
                    <td>
                      <div class="progress bg-transparent progress-sm">
                        <div :class="['progress-bar rounded', city.progressClass]" role="progressbar" :style="{ width: city.progress + '%' }" aria-valuenow="city.progress" aria-valuemin="0" aria-valuemax="100"></div>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title mb-4">Latest Transaction</h4>
            <div class="table-responsive">
              <table class="table align-middle table-nowrap mb-0">
                <thead class="table-light">
                  <tr>
                    <th style="width: 20px;">
                      <div class="form-check font-size-16 align-middle">
                        <input class="form-check-input" type="checkbox" id="transactionCheckAll" v-model="selectAll">
                        <label class="form-check-label" for="transactionCheckAll"></label>
                      </div>
                    </th>
                    <th class="align-middle">Order ID</th>
                    <th class="align-middle">Billing Name</th>
                    <th class="align-middle">Date</th>
                    <th class="align-middle">Total</th>
                    <th class="align-middle">Payment Status</th>
                    <th class="align-middle">Payment Method</th>
                    <th class="align-middle">View Details</th>
                  </tr>
                </thead>
                <tbody>
                  <tr v-for="(transaction, index) in transactions" :key="index">
                    <td>
                      <div class="form-check font-size-16">
                        <input class="form-check-input" type="checkbox" :id="'transactionCheck' + index" v-model="selectedItems" :value="transaction.orderId">
                        <label class="form-check-label" :for="'transactionCheck' + index"></label>
                      </div>
                    </td>
                    <td><a :href="'javascript: void(0);'" class="text-body fw-bold">#{{ transaction.orderId }}</a></td>
                    <td>{{ transaction.billingName }}</td>
                    <td>{{ transaction.date }}</td>
                    <td>{{ transaction.total }}</td>
                    <td>
                      <span :class="['badge badge-pill', transaction.paymentStatusClass, 'font-size-11']">{{ transaction.paymentStatus }}</span>
                    </td>
                    <td>
                      <i :class="['fab', transaction.paymentMethodIconClass, 'me-1']"></i> {{ transaction.paymentMethod }}
                    </td>
                    <td>
                      <button type="button" class="btn btn-primary btn-sm btn-rounded waves-effect waves-light" @click="viewDetails(transaction)">
                        View Details
                      </button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <!-- end table-responsive -->
          </div>
        </div>
      </div>
    </div>
</template>

<script>
export default {
  name: 'DashboardContent', // Use either 'DashboardPage' or 'DashboardContent', depending on your preference

  data() {
    return {
      selectAll: false,
      selectedItems: [],
      transactions: [
        { orderId: 'SK2540', billingName: 'Neal Matthews', date: '07 Oct, 2019', total: '$400', paymentStatus: 'Paid', paymentStatusClass: 'badge-soft-success', paymentMethodIconClass: 'fa-cc-mastercard', paymentMethod: 'Mastercard' },
        // Add more transactions as needed
      ],

      socialSources: [
        { name: 'Facebook', sales: 125, bgClass: 'bg-primary', iconClass: 'mdi mdi-facebook' },
        { name: 'Twitter', sales: 112, bgClass: 'bg-info', iconClass: 'mdi mdi-twitter' },
        { name: 'Instagram', sales: 104, bgClass: 'bg-pink', iconClass: 'mdi mdi-instagram' },
      ],
      activities: [
        { date: '22 Nov', description: 'Responded to need “Volunteer Activities”' },
        { date: '17 Nov', description: 'Everyone realizes why a new common language would be desirable... Read more' },
        { date: '15 Nov', description: 'Joined the group “Boardsmanship Forum”', active: true },
        { date: '12 Nov', description: 'Responded to need “In-Kind Opportunity”' },
      ],
      topCities: [
        { name: 'San Francisco', sales: 1456, progress: 94, progressClass: 'bg-primary' },
        { name: 'Los Angeles', sales: 1123, progress: 82, progressClass: 'bg-success' },
        { name: 'San Diego', sales: 1026, progress: 70, progressClass: 'bg-warning' },
      ],
    };
  },
  methods: {
    viewDetails(transaction) {
      // Implement your logic to view details for the selected transaction
      console.log('View details for:', transaction);
    },
  },
};
</script>
