<template>
    <div :id="id" class="dropzone">
      <!-- Add any content or styling for the dropzone area -->
      <vue-dropzone
        ref="myDropzone"
        :id="id"
        :url="url"
        :acceptedFiles="['image/*']"
        :clickable="false"
        :maxFileSize="600000000"
        :maxFiles="6"
        :multipleUpload="true"
        :uploadOnDrop="true"
        :options="dropzoneOptions"
        @vdropzone-success="onDropzoneSuccess"
        @vdropzone-error="onDropzoneError"
      ></vue-dropzone>
    </div>
  </template>
  
  <script>
  import Dropzone from 'dropzone';
  import 'dropzone/dist/dropzone.css'; // Import Dropzone CSS
  
  export default {
    props: ['id', 'url'],
  
    mounted() {
      // Ensure that the element with the specified ID exists
      const dropzoneElement = document.getElementById(this.id);
      if (dropzoneElement) {
        // Initialize Dropzone on the file input field
        Dropzone.autoDiscover = false;
        const myDropzone = new Dropzone(dropzoneElement, {
          url: this.url, // Replace with your actual upload URL
          // Add any other Dropzone options as needed
        });
  
        // Listen for the 'addedfile' event to handle file addition
        myDropzone.on("addedfile", function(file) {
          // Handle file addition here if needed
        });
  
        // Listen for the 'sending' event to handle sending files
        myDropzone.on("sending", function(file, xhr, formData) {
          // Add any additional form data you need to send with the file
          // For example:
          // formData.append('post_id', this.postId);
        });
  
        // Listen for the 'success' event to handle successful uploads
        myDropzone.on("success", function(file, response) {
          // Handle successful upload
        });
  
        // Listen for the 'error' event to handle upload errors
        myDropzone.on("error", function(file, errorMessage, xhr) {
          // Handle upload errors
        });
      } else {
        console.error(`Dropzone element with ID '${this.id}' not found.`);
      }
    }
  };
  </script>
  
  <style>
  /* Add your custom styles here if needed */
  </style>
  