<template>
  <input :id="id" type="file" class="file" data-preview-file-type="text" :data-initial-preview="initialImageUrl" data-show-upload="false" data-show-remove="false">
</template>

<script>
import $ from 'jquery';
import 'bootstrap-fileinput/css/fileinput.min.css';
import 'bootstrap-fileinput/js/fileinput.min.js';

export default {
  props: ['id', 'initialImageUrl'],
  mounted() {
    this.initializeFileInput();
  },
  watch: {
    // Watch for changes in initialImageUrl prop
    initialImageUrl: {
      handler(newVal, oldVal) {
        // If the new value is not null or empty
        if (newVal && newVal !== '') {
          // Destroy and recreate file input after 1 second
          setTimeout(() => {
            $(`#${this.id}`).fileinput('destroy');
            this.initializeFileInput();
          }, 1000);
        }
      },
      immediate: true // Trigger the watcher immediately on component mount
    }
  },
  methods: {
    initializeFileInput() {
      $(`#${this.id}`).fileinput({
        showPreview: true,
        uploadAsync: false,
        allowedFileExtensions: ['jpg', 'jpeg', 'png'],
        allowedPreviewTypes: ['image'],
        resizeImage: true,
        theme: 'fa',
        minFileCount: 1,
        maxFileCount: 1,
        dropZoneEnabled: false,
        showRemove: false,
        showUpload: false,
        showCancel: false,
        overwriteInitial: true,
        showDownload: false, // Hide the download button
        showZoom: false, // Hide the view details button
        allowedFileTypes: ['image'],
        browseClass: 'btn btn-primary',
        browseLabel: 'Browse',
        initialPreview: this.initialImageUrl ? [this.initialImageUrl] : [],
        initialPreviewAsData: true, // Set to true to display the preview using data
        initialPreviewConfig: [
          {
            downloadUrl: this.initialImageUrl
          }
          // You can add more objects to initialPreviewConfig array for multiple files
        ],
        // Add other options as needed
      });
    }
  }
};
</script>

<style scoped>
/* Adjust file input width and layout */
.file-input {
  width: 100%;
}

/* Adjust preview container width */
.file-preview-thumbnails {
  width: 100%;
}

/* Adjust individual thumbnail width */
.file-preview-frame {
  width: 100%;
}

</style>
