<template>
  <footer class="footer">
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-6">
          <p>&copy; {{ getCurrentYear() }} Your Company Name. All rights reserved.</p>
        </div>
        <div class="col-sm-6">
          <div class="text-sm-end d-none d-sm-block">
            <p>Designed & Developed by <router-link :to="getBaseUrl()">{{ appName }}</router-link></p>
          </div>
        </div>
      </div>
    </div>
  </footer>
</template>

<script>
import { defineComponent } from 'vue';

import $ from 'jquery';
import 'bootstrap';
import MetisMenu from 'metismenu';
import 'simplebar';
import Waves from 'node-waves';
import { appJs } from '../../main.js'; // Import appJs as a named import

export default defineComponent({
  data() {
    return {
      appName: import.meta.env.VITE_APP_NAME,
      appUrl: import.meta.env.VITE_APP_URL,
    };
  },
  methods: {
    getCurrentYear() {
      return new Date().getFullYear();
    },
    getBaseUrl() {
      // Extracting base URL from appUrl
      const url = new URL(this.appUrl);
      return url.origin;
    },
  },
  mounted() {
    // Initialize your plugins or libraries
    $(document).ready(function () {
      // Initialize MetisMenu
      new MetisMenu('#side-menu');

      // Initialize Waves
      Waves.init();
      appJs($); // Pass jQuery as an argument if needed
    });
  }
});
</script>