<template>
  <div class="account-pages my-5 pt-sm-5">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-8 col-lg-6 col-xl-5">
          <div class="card overflow-hidden">
            <div class="bg-primary bg-soft">
              <div class="row">
                <div class="col-7">
                  <div class="text-primary p-4">
                    <h5 class="text-primary">Reset Password</h5>
                    <p>Reset Password with Skote.</p>
                  </div>
                </div>
                <div class="col-5 align-self-end">
                  <img src="assets/images/profile-img.png" alt="" class="img-fluid">
                </div>
              </div>
            </div>
            <div class="card-body pt-0">
              <div>
                <a href="index.html">
                  <div class="avatar-md profile-user-wid mb-4">
                    <span class="avatar-title rounded-circle bg-light">
                      <img src="assets/images/logo.svg" alt="" class="rounded-circle" height="34">
                    </span>
                  </div>
                </a>
              </div>
              <div class="p-2">
                <div class="alert alert-success text-center mb-4" role="alert">
                  Enter your Email and instructions will be sent to you!
                </div>
                <form @submit.prevent="resetPassword">
                  <div class="mb-3">
                    <label for="useremail" class="form-label">Email</label>
                    <input type="email" class="form-control" id="useremail" v-model="email" placeholder="Enter email">
                  </div>
                  <div class="text-end">
                    <button class="btn btn-primary w-md waves-effect waves-light" type="submit">Reset</button>
                  </div>
                </form>
              </div>
            </div>
          </div>
          <div class="mt-5 text-center">
            <p>Remember It? <router-link to="/login" class="fw-medium text-primary">Sign In here</router-link></p>
            <p>© {{ getCurrentYear() }} {{ appName }}. Crafted with <i class="mdi mdi-heart text-danger"></i> by Themesbrand</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      appName: import.meta.env.VITE_APP_NAME,

      email: ''
    };
  },
  methods: {
    getCurrentYear() {
      return new Date().getFullYear();
    },
    resetPassword() {
      // Implement password reset logic here
      // Access this.email to send a password reset link to the provided email
    }
  }
};
</script>

<style>
/* Add your custom styles here */
</style>
