<template>
  <div class="account-pages my-5 pt-sm-5">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-8 col-lg-6 col-xl-5">
          <div class="card overflow-hidden">
            <div class="bg-primary bg-soft">
              <div class="row">
                <div class="col-7">
                  <div class="text-primary p-4">
                    <h5 class="text-primary">Welcome Back!</h5>
                    <p>Sign in to continue to {{ appName }}.</p>
                  </div>
                </div>
                <div class="col-5 align-self-end">
                  <img src="assets/images/profile-img.png" alt="" class="img-fluid">
                </div>
              </div>
            </div>
            <div class="card-body pt-0"> 
              <div class="auth-logo">
                <router-link to="/admin/login" class="auth-logo-light">
                  <div class="avatar-md profile-user-wid mb-4">
                    <span class="avatar-title rounded-circle bg-light">
                      <img src="assets/images/logo-light.svg" alt="" class="rounded-circle" height="34">
                    </span>
                  </div>
                </router-link>
                <router-link to="/admin/login" class="auth-logo-dark">
                  <div class="avatar-md profile-user-wid mb-4">
                    <span class="avatar-title rounded-circle bg-light">
                      <img src="assets/images/logo.svg" alt="" class="rounded-circle" height="34">
                    </span>
                  </div>
                </router-link>
              </div>
              <div class="p-2">
                <div v-if="errorMessage" class="alert alert-danger text-center mb-4" role="alert">
                  {{ errorMessage }}
                </div>
                <form @submit.prevent="login" class="form-horizontal" method="post">
                  <div class="mb-3">
                    <label for="email" class="form-label">Username</label>
                    <input v-model.trim="email" class="form-control" type="text" name="email" id="email" placeholder="Enter E-mail" />
                    <span v-if="formSubmitted && !email" class="text-danger">Email is required</span>
                  </div>
                  <div class="mb-3">
                    <label class="form-label">Password</label>
                    <div class="input-group auth-pass-inputgroup">
                      <input type="password" class="form-control" placeholder="Enter password" name="password" aria-label="Password" aria-describedby="password-addon" v-model.trim="password" />
                      <button class="btn btn-light " type="button" id="password-addon"><i class="mdi mdi-eye-outline"></i></button>
                    </div>
                    <span v-if="formSubmitted && !password" class="text-danger">Password is required</span>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="remember-check" v-model="remember">
                    <label class="form-check-label" for="remember-check">
                      Remember me
                    </label>
                  </div>
                  <div class="mt-3 d-grid">
                    <button class="btn btn-primary waves-effect waves-light" type="submit">Log In</button>
                  </div>
                  <div class="mt-4 text-center">
                    <h5 class="font-size-14 mb-3">Sign in with</h5>
                    <ul class="list-inline">
                      <li class="list-inline-item">
                        <a href="javascript:void(0)" class="social-list-item bg-primary text-white border-primary">
                          <i class="mdi mdi-facebook"></i>
                        </a>
                      </li>
                      <li class="list-inline-item">
                        <a href="javascript:void(0)" class="social-list-item bg-info text-white border-info">
                          <i class="mdi mdi-twitter"></i>
                        </a>
                      </li>
                      <li class="list-inline-item">
                        <a href="javascript:void(0)" class="social-list-item bg-danger text-white border-danger">
                          <i class="mdi mdi-google"></i>
                        </a>
                      </li>
                    </ul>
                  </div>
                  <div class="mt-4 text-center">
                    <router-link to="/admin/forgot-password" class="text-muted"><i class="mdi mdi-lock me-1"></i> Forgot your password?</router-link>
                  </div>
                </form>
              </div>
            </div>
          </div>
          <div class="mt-5 text-center">
            <div>
              <p>Don't have an account? <router-link to="/admin/register" class="fw-medium text-primary">Signup now</router-link></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { defineComponent } from 'vue';
import ApiService from '../../api.js';

export default defineComponent({
  data() {
    return {
      appName: import.meta.env.VITE_APP_NAME,
      email: '',
      password: '',
      remember: false,
      formSubmitted: false,
      loading: false,
      errorMessage: null,
    };
  },
  methods: {
    async login() {
      this.formSubmitted = true;
      if (!this.email.trim() || !this.password.trim()) {
        return;
      }
      try {
        const response = await ApiService.login(this.email, this.password, this.remember); // Pass remember value here
        if (response.status === 201) {
          console.log('Login successful');
          const token = response.data.access_token; // Assuming token is returned from the server
          const user = response.data;   // Assuming user info is returned from the server
          
          // Store token and user info
          localStorage.setItem('token', token);
          localStorage.setItem('user', JSON.stringify(user));

          this.email = '';
          this.password = '';
          this.$router.push('/admin/dashboard');
        } else {
          console.log('Failed');
          this.errorMessage = response.message || 'Unauthorized Access, please confirm credentials or verify your email';
        }
      } catch (error) {
        console.error('Error:', error);
        this.errorMessage = 'An error occurred while processing your request';
      } finally {
        this.loading = false;
      }
    },
  },
});
</script>

<style scoped>
/* Add any custom styles here */
</style>
