<template>
  <div id="sidebar-menu">
    <ul class="metismenu list-unstyled" id="side-menu">
      <li class="menu-title" key="t-menu">Menu</li>
      <li>
        <router-link to="/admin/dashboard" class="waves-effect" :class="{ 'active': isActiveMenu('/admin/dashboard') }">
          <i class="bx bx-home-circle"></i>
          <span key="t-dashboards">Dashboard</span>
        </router-link>
      </li>
      <li>
        <a href="javascript:void(0);" class="has-arrow waves-effect" :class="{ 'active': isActiveMenu('admin-post-create' || 'admin-post-edit' || 'admin-post-list' || 'admin-post-view') }">
          <i class="bx bx-detail"></i>
          <span key="t-blog">Blog</span>
        </a>
        <ul class="sub-menu" aria-expanded="false">
          <li><router-link :to="'/admin/post/list'" key="t-blog-list">Blog List</router-link></li>
          <li><router-link :to="'/admin/post/create'" key="t-blog-create">Blog Create</router-link></li>
        </ul>
      </li>
      <li>
        <a href="javascript:void(0);" class="has-arrow waves-effect" :class="{ 'active': isActiveMenu('admin-category-create' || 'admin-category-edit' || 'admin-category-list' || 'admin-category-view') }">
          <i class="bx bx-detail"></i>
          <span key="t-blog">Category</span>
        </a>
        <ul class="sub-menu" aria-expanded="false">
          <li><router-link :to="'/admin/category/list'" key="t-blog-list">Category List</router-link></li>
          <li><router-link :to="'/admin/category/create'" key="t-blog-create">Category Create</router-link></li>
        </ul>
      </li>
      <li>
        <a href="javascript:void(0);" class="has-arrow waves-effect" :class="{ 'active': isActiveMenu('/admin/tag') }">
          <i class="bx bx-devices"></i>
          <span key="t-blog">Tags</span>
        </a>
        <ul class="sub-menu" aria-expanded="false">
          <li><router-link :to="'/admin/tag/list'" key="t-blog-list">Tag List</router-link></li>
          <li><router-link :to="'/admin/tag/create'" key="t-blog-create">Tag Create</router-link></li>
        </ul>
      </li>
      <li>
        <a href="javascript:void(0);" class="has-arrow waves-effect" :class="{ 'active': isActiveMenu('/admin/department') }">
          <i class="bx bx-detail"></i>
          <span key="t-blog">Department</span>
        </a>
        <ul class="sub-menu" aria-expanded="false">
          <li><router-link :to="'/admin/department/list'" key="t-blog-list">Department List</router-link></li>
          <li><router-link :to="'/admin/department/create'" key="t-blog-create">Department Create</router-link></li>
        </ul>
      </li>
      <li>
        <a href="javascript:void(0);" class="has-arrow waves-effect" :class="{ 'active': isActiveMenu('/admin/course-type') }">
          <i class="bx bx-detail"></i>
          <span key="t-blog">Course Types</span>
        </a>
        <ul class="sub-menu" aria-expanded="false">
          <li><router-link :to="'/admin/course-type/list'" key="t-blog-list">Course Type List</router-link></li>
          <li><router-link :to="'/admin/course-type/create'" key="t-blog-create">Course Type Create</router-link></li>
        </ul>
      </li>
      <li>
        <a href="javascript:void(0);" class="has-arrow waves-effect" :class="{ 'active': isActiveMenu('/admin/course') }">
          <i class="bx bx-detail"></i>
          <span key="t-blog">Courses</span>
        </a>
        <ul class="sub-menu" aria-expanded="false">
          <li><router-link :to="'/admin/course/list'" key="t-blog-list">Course List</router-link></li>
          <li><router-link :to="'/admin/course/create'" key="t-blog-create">Course Create</router-link></li>
        </ul>
      </li>
      <li>
        <a href="javascript:void(0);" class="has-arrow waves-effect" :class="{ 'active': isActiveMenu('admin-contactus-list') }">
          <i class="bx bx-detail"></i>
          <span key="t-blog">Contact Us</span>
        </a>
        <ul class="sub-menu" aria-expanded="false">
          <li><router-link :to="'/admin/contact-us/list'" key="t-blog-list">Course List</router-link></li>
        </ul>
      </li>
    </ul>
  </div>
</template>

<script>
export default {
  methods: {
    isActiveMenu(routes) {
      if (Array.isArray(routes)) {
        // If routes is an array, check if any of the routes match the current route
        return routes.includes(this.$route.name);
      } else {
        // If routes is a single route string, simply check if it matches the current route
        return this.$route.name === routes;
      }
    }
  }
};
</script>

<style scoped>
.active {
  /* Add styles for active menu item */
  font-weight: bold;
  color: blue;
}
</style>
