<template>
    <vue3-tag-input v-model="tags" :inputOptions="inputOptions" />
</template>

<script>
import { ref } from 'vue';
import Vue3TagInput from 'vue3-tag-input';

export default {
  components: {
    Vue3TagInput,
  },
  setup() {
    // Define reactive variables for tags and input options
    const tags = ref([]);
    const inputOptions = {
      placeholder: 'Enter a tag',
      separator: ',',
      modelValue: '',
      unique: true,
    };

    return {
      tags,
      inputOptions,
    };
  },
};
</script>

<style>
/* Add any custom styles here */
</style>
