<template>
  <div class="row">
    <div class="col-12">
      <div class="page-title-box d-flex align-items-center justify-content-between">
        <div class="page-title-right">
          <ol class="breadcrumb m-0">
            <li class="breadcrumb-item"><router-link to="/admin/department/list"> List </router-link></li>
            <li class="breadcrumb-item active">Edit</li>
          </ol>
        </div>
      </div>
    </div>
  </div>
  <!-- end page title -->

  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-header bg-transparent border-bottom">
          <div class="d-sm-flex flex-wrap mt-2">
            <h4 class="card-title mb-4">Edit Department</h4>
            <div class="ms-auto">
              <div class="d-flex flex-wrap gap-2">
                <router-link class="btn btn-primary waves-effect waves-light" to="/admin/department/list">
                  List
                </router-link>
              </div>
            </div>
          </div>
        </div>
        <div class="card-body">
          <div v-if="successMessage" class="alert alert-success text-center mb-4" role="alert">
            {{ successMessage }}
          </div>
          <div v-if="errorMessage" class="alert alert-danger text-center mb-4" role="alert">
            {{ errorMessage }}
          </div>
          <form @submit.prevent="updateDepartment" enctype="multipart/form-data">
            <div class="form-group row mb-3" :class="{ 'has-error': validationErrors.department_name }">
              <label for="department_name" class="col-md-2 col-form-label">Department Name</label>
              <div class="col-md-10">
                <input type="text" class="form-control" id="department_name" v-model="department_name" placeholder="Enter Department Name">
                <span v-if="validationErrors.department_name" class="text-danger">{{ validationErrors.department_name }}</span>
              </div>
            </div>
            <div class="form-group row mb-3" :class="{ 'has-error': validationErrors.slug }">
              <label for="slug" class="col-md-2 col-form-label">URL</label>
              <div class="col-md-10">
                <input type="text" class="form-control" id="slug" v-model="slug" placeholder="Enter URL">
                <span v-if="validationErrors.slug" class="text-danger">{{ validationErrors.slug }}</span>
              </div>
            </div>
            <div class="form-group row mb-0">
              <div class="col-md-10 offset-md-2">
                <button type="submit" class="btn btn-primary w-md">Submit</button>
              </div>
            </div>
          </form>
        </div>
        <!-- end card body -->
      </div>
    </div>
  </div>
</template>

<script>
import ApiService from '../../../api.js';

export default {
  data() {
    return {
      departmentId: null,
      department_name: '',
      slug: '',
      loading: false,
      successMessage: null,
      errorMessage: null,
      validationErrors: {}
    };
  },
  methods: {
    async getDepartment() {
      try {
        this.loading = true;
        const response = await ApiService.getDepartment(this.departmentId);
        const departmentData = response.data.data;
        this.department_name = departmentData.department_name;

        this.clearValidationErrors();
      } catch (error) {
        console.error('Error fetching department:', error);
        this.errorMessage = 'Error fetching department data';
      } finally {
        this.loading = false;
      }
    },

    async updateDepartment() {
      this.clearMessages();
      if (!this.validateForm()) {
        return;
      }
      try {
        this.loading = true;
        const response = await ApiService.updateDepartment(this.departmentId, { department_name: this.department_name });
        this.successMessage = response.data.message;
        this.clearForm();
        this.hideMessagesAfterDelay(10000);
      } catch (error) {
        this.errorMessage = error.response.data.message;
        this.hideMessagesAfterDelay(10000);
      } finally {
        this.loading = false;
      }
    },
    validateForm() {
      this.validationErrors = {};
      if (!this.department_name.trim()) {
        this.validationErrors.department_name = 'Department name is required';
        return false;
      }
      return true;
    },
    clearForm() {
      this.department_name = '';
      this.slug = '';
    },
    clearMessages() {
      this.successMessage = null;
      this.errorMessage = null;
    },
    hideMessagesAfterDelay(delay) {
      setTimeout(() => {
        this.successMessage = null;
        this.errorMessage = null;
      }, delay);
    },
    clearValidationErrors() {
      this.validationErrors = {};
    },
    generateSlug() {
      if (this.department_name && typeof this.department_name === 'string' && this.department_name.trim()) {
        this.slug = this.department_name.toLowerCase().replace(/\s+/g, '-');
      }
    }
  },
  watch: {
    department_name() {
      this.generateSlug();
    }
  },
  created() {
    this.departmentId = this.$route.params.departmentId;
    if (this.$route.name === 'admin-department-edit' && this.departmentId != "") {
      this.getDepartment();
    }
  },
};
</script>
