<template>
  <div class="card">
    <div class="card-header bg-transparent header-elements-inline">
      <h6 class="card-title">List of Tasks</h6>
      <div class="header-elements">
        <router-link to="/task/create" class="pull-right">
          <button type="button" class="btn btn-primary">Add Task</button>
        </router-link>
      </div>
    </div>
    <div class="card-body">
      <div v-if="successMessage" class="alert alert-success">{{ successMessage }}</div>
      <div v-if="errorMessage" class="alert alert-danger">{{ errorMessage }}</div>
      <div class="table-responsive mt-2">
        <table class="table table-bordered">
          <!-- Table headers -->
          <thead class="bg-blue">
            <tr>
              <th width="4%">S.No</th>
              <th>Task Name</th>
              <th>Action</th>
            </tr>
          </thead>

          <!-- Table body -->
          <tbody>
            <tr v-for="(task, index) in tasks" :key="task.id">
              <td><strong>{{ index + 1 }}</strong></td>
              <td>{{ task.title }}</td>
              <td class="text-center">
                <div class="list-icons">
                  <div class="dropdown">
                    <a href="#" class="list-icons-item" @click.prevent="toggleDropdown(index)"><i class="icon-menu9"></i></a>
                    <div v-if="isDropdownOpen === index" class="dropdown-menu dropdown-menu-right show">
                      <a :href="'/task/edit/' + task.id" data-toggle="tooltip" title="Edit" class="dropdown-item text-primary-600" :data-original-title="'Edit'"><i class="icon-pencil"></i> Edit</a>
                      <a :href="'/task/view/' + task.id" data-toggle="tooltip" title="View" class="dropdown-item text-teal-600" :data-original-title="'View'"><i class="icon-eye"></i> View</a>
                      <a href="#" @click.prevent="deleteTask(task.id)" data-toggle="tooltip" title="Delete" class="dropdown-item text-danger-600" :data-original-title="'Delete'"><i class="icon-bin"></i> Delete</a>
                    </div>
                  </div>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</template>

<script>
import ApiService from '../../../api.js';

export default {
  data() {
    return {
      tasks: [],
      searchQuery: '',
      isDropdownOpen: false,
      successMessage: '',
      errorMessage: '',
    };
  },
  methods: {
    async fetchTasks() {
      try {
        const response = await ApiService.getTasks();
        this.tasks = response.data;
      } catch (error) {
        console.error('Error fetching tasks:', error);
      }
    },
    async deleteTask(index) {
      try {
        const response = await ApiService.deleteTask(index);
        console.log('Task deleted successfully:', response.data);
        this.errorMessage = '';
        this.successMessage = 'Task deleted successfully';
        this.fetchTasks();
      } catch (error) {
        console.error('Error deleting task:', error);
        this.successMessage = '';
        this.errorMessage = 'Error deleting task';
      }
    },
    toggleDropdown(index) {
      this.isDropdownOpen = this.isDropdownOpen === index ? null : index;
    },
  },
  mounted() {
    this.fetchTasks();
  },
};
</script>

<style scoped>
/* Add your component-specific styles here */
</style>
