<template>
  <div class="card">
    <div class="card-header bg-transparent header-elements-inline">
      <h6 class="card-title">{{ taskId ? 'Edit Task' : 'Add Task' }}</h6>
      <div class="header-elements">
        <router-link v-if="!taskId" to="/tasks" class="pull-right">
          <button type="button" class="btn btn-primary">Manage Task</button>
        </router-link>
      </div>
    </div>
    <div class="card-body">
      <div v-if="loading" class="text-center">Loading...</div>
      <div v-else>
        <div v-if="successMessage" class="alert alert-success">
          {{ successMessage }}
        </div>
        <div v-if="errorMessage" class="alert alert-danger">
          {{ errorMessage }}
        </div>
        <form @submit.prevent="taskId ? updateTask() : submitForm()" class="form-horizontal" method="post" enctype="multipart/form-data">
          <div class="row">
            <div class="col-md-10 offset-md-1">
              <fieldset>
                <div class="form-group row">
                  <label class="col-form-label col-md-2">Task Name</label>
                  <div class="col-md-10">
                    <input v-model="title" class="form-control" type="text" name="title" id="title" placeholder="Enter Task Name" />
                    <span v-if="formSubmitted && !title" class="text-danger">Task Name is required</span>
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-form-label col-md-2">Description</label>
                  <div class="col-md-10">
                    <textarea v-model="description" class="form-control ckeditor" type="text" name="description" placeholder="Enter Description"></textarea>
                    <span v-if="formSubmitted && !description" class="text-danger">Description is required</span>
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-form-label col-md-2">Project</label>
                  <div class="col-md-10">
                    <select v-model="project_id" class="form-control" name="project_id" placeholder="Select Project">
                      <option value="" disabled selected>Choose One</option>
                      <option v-for="project in projects" :key="project.id" :value="project.id">{{ project.name }}</option>
                    </select>
                    <span v-if="formSubmitted && !project_id" class="text-danger">Project is required</span>
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-form-label col-md-2">Company</label>
                  <div class="col-md-10">
                    <select v-model="company_id" class="form-control" name="company_id" placeholder="Select Project">
                      <option value="" disabled selected>Choose One</option>
                      <option v-for="company in companies" :key="company.id" :value="company.id">{{ company.company_name }}</option>
                    </select>
                    <span v-if="formSubmitted && !company_id" class="text-danger">Company name is required</span>
                  </div>
                </div>
              </fieldset>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="text-center">
                <button type="submit" class="btn btn-success">Save</button>
                <router-link to="/tasks" class="btn btn-danger" data-toggle="confirmation" data-btn-ok-label="Yes" data-btn-ok-icon="glyphicon glyphicon-share-alt" data-btn-ok-class="btn-success btn-xs" data-btn-cancel-label="Cancel" data-btn-cancel-icon="glyphicon glyphicon-ban-circle" data-btn-cancel-class="btn-danger btn-xs" data-title="" data-content="Are you sure you want to cancel?">Cancel</router-link>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</template>

<script>
import ApiService from '../../../api.js';

export default {
  data() {
    return {
      taskId: null,
      projects: {},
      companies: {},
      task: {},
      title: '',
      description: '',
      loading: false,
      error: null,
      formSubmitted: false,
      successMessage: null,
      errorMessage: null,
    };
  },
  methods: {
    async fetchProjects() {
      try {
        const response = await ApiService.getProjects();
        this.projects = response.data;
      } catch (error) {
        console.error('Error fetching projects:', error);
      }
    },

    async fetchCompanies() {
      try {
        const response = await ApiService.getCompanies();
        this.companies = response.data;
      } catch (error) {
        console.error('Error fetching companies:', error);
      }
    },

    async getTask() {
      try {
        this.loading = true;
        const response = await ApiService.getTask(this.taskId);
        this.task = response.data;
        this.title = this.task.title;
        this.description = this.task.description;
        this.project_id = this.task.project_id;
        this.company_id = this.task.company_id;
      } catch (error) {
        console.error('Error fetching task:', error);
        this.error = 'Error fetching task data';
      } finally {
        this.loading = false;
        console.log("DFdfd");
      }
    },
    async updateTask() {
      this.formSubmitted = true;
      if (!this.title || !this.description || !this.project_id || !this.company_id) {
        return;
      }
      try {
        this.loading = true;
        const response = await ApiService.updateTask(this.taskId, {
          title: this.title,
          description: this.description,
          project_id: this.project_id,
          company_id: this.company_id,
        });
        this.task = response.data;
        this.successMessage = 'Task updated successfully';
      } catch (error) {
        this.errorMessage = 'Error updating task';
      } finally {
        this.loading = false;
      }
    },
    async submitForm() {
      this.formSubmitted = true;
      if (!this.title || !this.description || !this.project_id || !this.company_id) {
        return;
      }
      try {
        this.loading = true;
        const response = await ApiService.createTask({
          title: this.title,
          description: this.description,
          project_id: this.project_id,
          company_id: this.company_id,
        });
        this.task = response.data;
        this.successMessage = 'Task added successfully';
      } catch (error) {
        this.errorMessage = 'Error adding task';
      } finally {
        this.loading = false;
      }
    },
  },
  created() {
    this.fetchProjects();
    this.fetchCompanies();

    this.taskId = this.$route.params.taskId;
    if (this.taskId) {
      this.getTask();
    }
  },
};
</script>