<template>
  <div class="card">
    <div class="card-header bg-transparent header-elements-inline">
      <h6 class="card-title">{{ projectId ? 'Edit Project' : 'Add Project' }}</h6>
      <div class="header-elements">
        <router-link v-if="!projectId" to="/projects" class="pull-right">
          <button type="button" class="btn btn-primary">Manage Project</button>
        </router-link>
      </div>
    </div>
    <div class="card-body">
      <div v-if="loading" class="text-center">Loading...</div>
      <div v-else>

        <div v-if="successMessage" class="alert alert-success">
          {{ successMessage }}
        </div>
        <div v-if="errorMessage" class="alert alert-danger">
          {{ errorMessage }}
        </div>

        <form @submit.prevent="projectId ? updateProject() : submitForm()" class="form-horizontal" method="post" enctype="multipart/form-data">
          <div class="row">
            <div class="col-md-10 offset-md-1">
              <fieldset>
                <div class="form-group row">
                  <label class="col-form-label col-md-2">Project Name</label>
                  <div class="col-md-10">
                    <input v-model="name" class="form-control" type="text" name="name" id="name" placeholder="Enter Project Name" />
                    <span v-if="formSubmitted && !name" class="text-danger">Project Name is required</span>
                  </div>
                </div>
              </fieldset>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="text-center">
                <button type="submit" class="btn btn-success">Save</button>
                <router-link to="/projects" class="btn btn-danger" data-toggle="confirmation" data-btn-ok-label="Yes" data-btn-ok-icon="glyphicon glyphicon-share-alt" data-btn-ok-class="btn-success btn-xs" data-btn-cancel-label="Cancel" data-btn-cancel-icon="glyphicon glyphicon-ban-circle" data-btn-cancel-class="btn-danger btn-xs" data-title="" data-content="Are you sure you want to cancel?">Cancel</router-link>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</template>

<script>
import ApiService from '../../../api.js';

export default {
  data() {
    return {
      projectId: null,
      project: {},
      name: '',
      loading: false,
      error: null,
      formSubmitted: false,
      successMessage: null,
      errorMessage: null,
    };
  },
  methods: {
    async getProject() {
      try {
        this.loading = true;
        const response = await ApiService.getProject(this.projectId);
        console.log(response);
        this.project = response.data;
        this.name = this.project.name;
      } catch (error) {
        this.error = 'Error fetching project data';
      } finally {
        this.loading = false;
      }
    },
    async updateProject() {
      this.formSubmitted = true;
      if (!this.name) {
        return;
      }
      try {
        this.loading = true;
        const response = await ApiService.updateProject(this.projectId, {
          name: this.name,
        });
        this.project = response.data;
        this.successMessage = 'Project updated successfully';
      } catch (error) {
        this.errorMessage = 'Error updating project';
      } finally {
        this.loading = false;
      }
    },
    async submitForm() {
      this.formSubmitted = true;
      if (!this.name) {
        return;
      }
      try {
        this.loading = true;
        const response = await ApiService.createProject({
          name: this.name,
        });
        this.project = response.data;
        this.successMessage = 'Project added successfully';
      } catch (error) {
        this.errorMessage = 'Error adding project';
      } finally {
        this.loading = false;
      }
    },
  },
  created() {
    this.projectId = this.$route.params.projectId;
    if (this.projectId) {
      this.getProject();
    }
  },
};
</script>