<template>
  <div class="card">
    <div class="card-header bg-transparent header-elements-inline">
      <h6 class="card-title">View Task</h6>
      <div class="header-elements">
        <span>
          <button @click="deleteTask" title="Delete" class="btn btn-danger btn-sm pull-right">
            <i class="icon-trash"></i>
          </button>
          <router-link to="/task/list" title="Manage" class="btn btn-info btn-sm pull-right">
            <i class="icon-list"></i>
          </router-link>
          <router-link :to="'/task/edit/' + taskId" title="Edit" class="btn btn-success btn-sm pull-right">
            <i class="icon-pencil"></i>
          </router-link>
          <router-link to="/task/create" title="Add" class="btn btn-primary btn-sm pull-right">
            <i class="icon-plus3"></i>
          </router-link>
        </span>
      </div>
    </div>
    <div class="card-body">
      <div class="table-responsive mt-2">
        <table class="table table-bordered">
          <thead class="bg-slate-300">
            <tr>
              <th width="25%">Field</th>
              <th>Value</th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="(value, key) in task" :key="key">
              <td>{{ formatFieldName(key) }}</td>
              <td v-html="formatFieldValue(key, value)"></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</template>

<script>
import ApiService from '../../../api.js';

export default {
  data() {
    return {
      taskId: null,
      task: {},
    };
  },
  methods: {
    async getTaskData() {
      try {
        const response = await ApiService.getTask(this.taskId);
        console.log(response.data);
        this.task = response.data;
      } catch (error) {
        console.error('Error fetching task:', error);
      }
    },
    formatFieldName(key) {
      console.log(key);
      switch (key) {
        case 'status':
          return 'Status';
        case 'priority':
          return 'Priority';
        default:
          return key.charAt(0).toUpperCase() + key.slice(1).replace('_', ' ');
      }
    },
    formatFieldValue(key, value) {
      switch (key) {
        case 'status':
          return value === 'Active' ? '<span class="badge badge-success">Active</span>' :
            '<span class="badge badge-danger">Archived</span>';
        default:
          return value;
      }
    },
  },
  created() {
    this.taskId = this.$route.params.taskId;
    this.getTaskData();
  },
};
</script>
