<template>
  <div class="card">
    <div class="card-header bg-transparent header-elements-inline">
      <h6 class="card-title">List of Projects</h6>
      <div class="header-elements">
        <router-link to="/project/create" class="pull-right">
          <button type="button" class="btn btn-primary">Add Project</button>
        </router-link>
      </div>
    </div>
    <div class="card-body">
      <div v-if="successMessage" class="alert alert-success">{{ successMessage }}</div>
      <div v-if="errorMessage" class="alert alert-danger">{{ errorMessage }}</div>
      <div class="table-responsive mt-2">
        <table class="table table-bordered">
          <!-- Table headers -->
          <thead class="bg-blue">
            <tr>
              <th width="4%">S.No</th>
              <th>Project Name</th>
              <th>Action</th>
            </tr>
          </thead>

          <!-- Table body -->
          <tbody>
            <tr v-for="(project, index) in projects" :key="project.id">
              <td><strong>{{ index + 1 }}</strong></td>
              <td>{{ project.name }}</td>
              <td class="text-center">
                <div class="list-icons">
                  <div class="dropdown">
                    <a href="#" class="list-icons-item" @click.prevent="toggleDropdown(index)"><i class="icon-menu9"></i></a>
                    <div v-if="isDropdownOpen === index" class="dropdown-menu dropdown-menu-right show">
                      <a :href="'/project/edit/' + project.id" data-toggle="tooltip" title="Edit" class="dropdown-item text-primary-600" :data-original-title="'Edit'"><i class="icon-pencil"></i> Edit</a>
                      <a :href="'/project/view/' + project.id" data-toggle="tooltip" title="View" class="dropdown-item text-teal-600" :data-original-title="'View'"><i class="icon-eye"></i> View</a>
                      <a href="#" @click.prevent="deleteProject(project.id)" data-toggle="tooltip" title="Delete" class="dropdown-item text-danger-600" :data-original-title="'Delete'"><i class="icon-bin"></i> Delete</a>
                    </div>
                  </div>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</template>

<script>
import ApiService from '../../../api.js';

export default {
  data() {
    return {
      projects: [], // Array to store project data
      searchQuery: '', // Variable to store search query
      isDropdownOpen: false,
      successMessage: '',
      errorMessage: '',
    };
  },
  methods: {
    async fetchProjects() {
      try {
        const response = await ApiService.getProjects();
        this.projects = response.data;
      } catch (error) {
        console.error('Error fetching projects:', error);
      }
    },
    async deleteProject(index) {
      try {
        const response = await ApiService.deleteProject(index);
        console.log('Project deleted successfully:', response.data);
        this.errorMessage = '';
        this.successMessage = 'Project deleted successfully';
        this.fetchProjects();
      } catch (error) {
        console.error('Error deleting project:', error);
        this.successMessage = '';
        this.errorMessage = 'Error deleting project';
      }
    },
    toggleDropdown(index) {
      this.isDropdownOpen = this.isDropdownOpen === index ? null : index;
    },
  },
  mounted() {
    this.fetchProjects();
  },
};
</script>