  <template>
    <div id="layout-wrapper">
      <Navbar />
      <div class="vertical-menu">
        <div data-simplebar class="h-100">
          <Sidebar />
        </div>
      </div>
      <div class="main-content">
        <div class="page-content">
          <div class="container-fluid">
            <router-view />
          </div>
        </div>
        <Footer />
      </div>
    </div>
  </template>
  
  <script>
  import Navbar from './components/Navbar.vue';
  import Sidebar from './components/Sidebar.vue';
  import Footer from './components/Footer.vue';

  export default {
    components: {
      Navbar,
      Sidebar,
      Footer,
    },
    // Your component options
  };
  </script>