<template>
  <div class="card">
      <div class="card-body">
          <h4 class="card-title mb-4">Form Grid Layout</h4>

          <form @submit.prevent="taskId ? updateBlog() : submitBlog()" method="post" enctype="multipart/form-data">
              <div class="mb-3">
                  <label for="formrow-firstname-input" class="form-label">Title</label>
                  <input type="text" class="form-control" id="formrow-firstname-input" placeholder="Enter Title">
              </div>

              <div class="row">
                  
                  <div class="col-md-6">
                      <div class="mb-3">
                          <label for="formrow-email-input" class="form-label">Email</label>
                          <input type="email" class="form-control" id="formrow-email-input" placeholder="Enter Your Email ID">
                      </div>
                  </div>
                  <div class="col-md-6">
                      <div class="mb-3">
                          <label for="formrow-password-input" class="form-label">Password</label>
                          <input type="password" class="form-control" id="formrow-password-input" placeholder="Enter Your Password">
                      </div>
                  </div>
              </div>

              <div class="row">
                  <div class="col-lg-4">
                      <div class="mb-3">
                          <label for="formrow-inputCity" class="form-label">City</label>
                          <input type="text" class="form-control" id="formrow-inputCity" placeholder="Enter Your Living City">
                      </div>
                  </div>
                  <div class="col-lg-4">
                      <div class="mb-3">
                          <label for="formrow-inputState" class="form-label">State</label>
                          <select id="formrow-inputState" class="form-select">
                              <option selected>Choose...</option>
                              <option>...</option>
                          </select>
                      </div>
                  </div>
                  
                  <div class="col-lg-4">
                      <div class="mb-3">
                          <label for="formrow-inputZip" class="form-label">Zip</label>
                          <input type="text" class="form-control" id="formrow-inputZip" placeholder="Enter Your Zip Code">
                      </div>
                  </div>
              </div>

              <div class="mb-3">
                  
                  <div class="form-check">
                      <input class="form-check-input" type="checkbox" id="gridCheck">
                      <label class="form-check-label" for="gridCheck">
                        Check me out
                      </label>
                  </div>
              </div>
              <div>
                  <button type="submit" class="btn btn-primary w-md">Submit</button>
              </div>
          </form>
      </div>
      <!-- end card body -->
  </div>
</template>

<script>
import ApiService from '../../../api.js';

export default {
  data() {
    return {
      blogId: null,
      projects: {},
      companies: {},
      blog: {},
      title: '',
      description: '',
      loading: false,
      error: null,
      formSubmitted: false,
      successMessage: null,
      errorMessage: null,
    };
  },
  methods: {
    async fetchCategories() { 
      try {
        const response = await ApiService.getCategoryList();
        this.projects = response.data;
      } catch (error) {
        console.error('Error fetching projects:', error);
      }
    },

    async fetchCategories(status) {
      try {
        const response = await ApiService.getCategoryList({ status });
        this.categories = response.data;
      } catch (error) {
        console.error('Error fetching categories:', error);
      }
    },
    async getBlog() {
      try {
        this.loading = true;
        const response = await ApiService.getBlog(this.blogId);
        this.blog = response.data;
        this.title = this.blog.title;
        this.description = this.blog.description;
        this.project_id = this.blog.project_id;
        this.cagtegory_id = this.blog.cagtegory_id;
      } catch (error) {
        console.error('Error fetching blog:', error);
        this.error = 'Error fetching blog data';
      } finally {
        this.loading = false;
        console.log("DFdfd");
      }
    },
    async updateBlog() {
      this.formSubmitted = true;
      if (!this.title || !this.description || !this.project_id || !this.cagtegory_id) {
        return;
      }
      try {
        this.loading = true;
        const response = await ApiService.updateBlog(this.blogId, {
          title: this.title,
          description: this.description,
          cagtegory_id: this.cagtegory_id,
        });
        this.blog = response.data;
        this.successMessage = 'Blog updated successfully';
      } catch (error) {
        this.errorMessage = 'Error updating blog';
      } finally {
        this.loading = false;
      }
    },
    async submitBlog() {
      this.formSubmitted = true;
      if (!this.title || !this.description || !this.cagtegory_id) {
        return;
      }
      try {
        this.loading = true;
        const response = await ApiService.createBlog({
          title: this.title,
          description: this.description,
          cagtegory_id: this.cagtegory_id,
        });
        this.blog = response.data;
        this.successMessage = 'Blog added successfully';
      } catch (error) {
        this.errorMessage = 'Error adding blog';
      } finally {
        this.loading = false;
      }
    },
  },
  created() {
    this.fetchCategories();

    this.blogId = this.$route.params.blogId;
    if (this.blogId) {
      this.getBlog();
    }
  },
};
</script>