<template>
  <!-- start page title -->
  <div class="row">
    <div class="col-12">
      <div class="page-title-box d-flex align-items-center justify-content-between">
        <h4 class="mb-0 font-size-18">Category List</h4>
        <div class="page-title-right">
          <ol class="breadcrumb m-0">
            <li class="breadcrumb-item"><a href="javascript:void(0);">Categories</a></li>
            <li class="breadcrumb-item active">Category List</li>
          </ol>
        </div>
      </div>
    </div>
  </div>
  <!-- end page title -->

  <div class="row">
    <div class="col-lg-12">
      <div>
        <div class="table-responsive">
          <table class="table project-list-table table-nowrap align-middle table-borderless">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Title</th>
                <th scope="col">Category</th>
                <th scope="col">Status</th>
                <th scope="col">Created Date</th>
                <th scope="col">Action</th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="(post, index) in categories" :key="post.id">
                <td><strong>{{ index + 1 }}</strong></td>
                <td><a :href="'/post/view/' + post.id" class="text-dark">{{ post.title }}</a></td>
                <td>{{ post.get_category.name }}</td>
                <td>{{ post.status }}</td>
                <td>{{ post.created_at }}</td>
                <td>
                  <div class="dropdown" :id="'dropdown-' + index">
                    <a href="#" class="dropdown-toggle card-drop" data-bs-toggle="dropdown" aria-expanded="false" @click.prevent="toggleDropdown(index)">
                      <i class="mdi mdi-dots-horizontal font-size-18"></i>
                    </a>
                    <div class="dropdown-menu dropdown-menu-end" :aria-labelledby="'dropdown-' + index">
                      <a :href="'/admin/post/edit/' + post.id" title="Edit" class="dropdown-item">Edit</a>
                      <a :href="'/admin/post/view/' + post.id" title="View" class="dropdown-item">View</a>
                      <a href="#" @click.prevent="deleteCategory(post.id)" title="Delete" class="dropdown-item">Delete</a>
                    </div>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <!-- end row -->

  <div class="row">
    <div class="col-12">
      <div class="text-center my-3">
        <a href="javascript:void(0);" class="text-success"><i class="bx bx-loader bx-spin font-size-18 align-middle me-2"></i> Load more </a>
      </div>
    </div> <!-- end col-->
  </div>
  <!-- end row -->
</template>

<script>
import ApiService from '../../../api.js';

export default {
  data() {
    return {
      categories: [],
      openDropdownIndex: null,
      successMessage: '',
      errorMessage: '',
    };
  },
  methods: {
    async fetchCategories() {
      try {
        const response = await ApiService.getCategoryList();
        this.categories = response.data.data;
      } catch (error) {
        console.error('Error fetching categories:', error);
      }
    },
    async deleteCategory(postId) {
      try {
        const response = await ApiService.deleteCategory(postId);
        console.log('Category deleted successfully:', response.data);
        this.errorMessage = '';
        this.successMessage = 'Category deleted successfully';
        this.fetchCategories();
      } catch (error) {
        console.error('Error deleting post:', error);
        this.successMessage = '';
        this.errorMessage = 'Error deleting post';
      }
    },
    toggleDropdown(index) {
      if (this.openDropdownIndex === index) {
        this.openDropdownIndex = null;
      } else {
        this.openDropdownIndex = index;
      }
    },
  },
  mounted() {
    this.fetchCategories();
  },
};
</script>

<style scoped>
/* Add your component-specific styles here */
</style>
