<template>
  <div class="card">
    <div class="card-body">
      <h4 class="card-title mb-4">Course Type</h4>
      <div v-if="successMessage" class="alert alert-success text-center mb-4" role="alert">
        {{ successMessage }}
      </div>
      <div v-if="errorMessage" class="alert alert-danger text-center mb-4" role="alert">
        {{ errorMessage }}
      </div>
      <form @submit.prevent="submitCourseType" enctype="multipart/form-data">
        <div class="form-group row mb-3" :class="{ 'has-error': validationErrors.course_type }">
          <label for="course_type" class="col-md-2 col-form-label">Course Type Name</label>
          <div class="col-md-10">
            <input type="text" class="form-control" id="course_type" v-model="course_type" placeholder="Enter Course Type Name">
            <span v-if="validationErrors.course_type" class="text-danger">{{ validationErrors.course_type }}</span>
          </div>
        </div>
        <div class="form-group row mb-0">
          <div class="col-md-10 offset-md-2">
            <button type="submit" class="btn btn-primary w-md">Submit</button>
          </div>
        </div>
      </form>
    </div>
    <!-- end card body -->
  </div>
</template>

<script>
import ApiService from '../../../api.js';

export default {
  data() {
    return {
      course_type: '',
      loading: false,
      successMessage: null,
      errorMessage: null,
      validationErrors: {}
    };
  },
  methods: {
    async submitCourseType() {
      this.clearMessages();
      if (!this.validateForm()) {
        return;
      }
      try {
        this.loading = true;
        const response = await ApiService.createCourseType({
          course_type: this.course_type,
        });
        this.successMessage = response.data.message;
        this.clearForm();
        this.hideMessagesAfterDelay(10000);
      } catch (error) {
        this.errorMessage = error.response.data.message;
        this.hideMessagesAfterDelay(10000);
      } finally {
        this.loading = false;
      }
    },
    validateForm() {
      this.validationErrors = {};
      if (!this.course_type.trim()) {
        this.validationErrors.course_type = 'Course type is required';
        return false;
      }
      return true;
    },
    clearForm() {
      this.course_type = '';
    },
    clearMessages() {
      this.successMessage = null;
      this.errorMessage = null;
    },
    hideMessagesAfterDelay(delay) {
      setTimeout(() => {
        this.successMessage = null;
        this.errorMessage = null;
      }, delay);
    },
  },
};
</script>
