<template>
  <!-- start page title -->
  <div class="row">
    <div class="col-12">
      <div class="page-title-box d-flex align-items-center justify-content-between">
        <div class="page-title-right">
          <ol class="breadcrumb m-0">
            <li class="breadcrumb-item"><a href="javascript:void(0);">Course Type</a></li>
            <li class="breadcrumb-item active">List</li>
          </ol>
        </div>
      </div>
    </div>
  </div>
  <!-- end page title -->

  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-header bg-transparent border-bottom">
          <div class="d-sm-flex flex-wrap mt-2">
            <h4 class="card-title mb-4">Course Type List</h4>
            <div class="ms-auto">
              <div class="d-flex flex-wrap gap-2">
                <router-link class="btn btn-success waves-effect waves-light" to="/admin/course-type/create">
                  Create <mdi-icon :path="mdiClipboardPlusOutline" />
                </router-link>
              </div>
            </div>
          </div>
        </div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table align-middle table-nowrap mb-0">
              <thead class="table-light">
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Course Type</th>
                  <th scope="col">Status</th>
                  <th scope="col">Created Date</th>
                  <th scope="col">Action</th>
                </tr>
              </thead>
              <tbody>
                <tr v-for="(courseType, index) in courseTypes" :key="courseType.id">
                  <td><strong>{{ index + 1 }}</strong></td>
                  <td>{{ courseType.course_type }}</td>
                  <td>{{ courseType.status }}</td>
                  <td>{{ courseType.created_at }}</td>
                  <td>
                    <div class="dropdown" :id="'dropdown-' + index">
                      <a href="#" class="dropdown-toggle card-drop" data-bs-toggle="dropdown" aria-expanded="false" @click.prevent="toggleDropdown(index)">
                        <i class="mdi mdi-dots-horizontal font-size-18"></i>
                      </a>
                      <div class="dropdown-menu dropdown-menu-end" :aria-labelledby="'dropdown-' + index">
                        <a :href="'/admin/course-type/edit/' + courseType.id" title="Edit" class="dropdown-item">Edit</a>
                        <a :href="'/admin/course-type/view/' + courseType.id" title="View" class="dropdown-item">View</a>
                        <a href="#" @click.prevent="deleteCourseType(courseType.id)" title="Delete" class="dropdown-item">Delete</a>
                      </div>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- end row -->

  <div v-if="showLoadMoreButton" class="row">
    <div class="col-12">
      <div class="text-center my-3">
        <a href="javascript:void(0);" class="text-success" @click.prevent="loadMore">
          <i v-if="loading" class="bx bx-loader bx-spin font-size-18 align-middle me-2"></i> Load more
        </a>
      </div>
    </div> <!-- end col-->
  </div>
</template>

<script>
import ApiService from '../../../api.js';

export default {
  data() {
    return {
      courseTypes: [],
      loading: false,
      totalCount: 0,
      currentPage: 1,
      showLoadMoreButton: true,
      openDropdownIndex: null,
      successMessage: '',
      errorMessage: '',
    };
  },
  methods: {
    async fetchCourseTypes(page) {
      try {
        this.loading = true;

        const params = {
          page: this.currentPage,
          status: 'active',
          limit: 20,
          offset: (this.currentPage - 1) * 20 // Calculate offset based on current page
        };

        const response = await ApiService.getCourseTypeList(params);
        const newCourseTypes = response.data.data;
        this.totalCount = response.data.count;
        // Append new course types to existing list
        this.courseTypes = [...this.courseTypes, ...newCourseTypes];
        this.showLoadMoreButton = newCourseTypes.length > 0 && newCourseTypes.length != this.totalCount;
        this.currentPage++;
      } catch (error) {
        console.error('Error fetching course types:', error);
      } finally {
        this.loading = false;
      }
    },
    async loadMore() {
      if (this.courseTypes.length < this.totalCount) {
        await this.fetchCourseTypes();
      } else {
        // If all records are loaded, hide the load more button
        this.showLoadMoreButton = false;
      }
    },
    async deleteCourseType(courseTypeId) {
      try {
        const response = await ApiService.deleteCourseType(courseTypeId);
        console.log('Course Type deleted successfully:', response.data);
        this.errorMessage = '';
        this.successMessage = 'Course Type deleted successfully';
        this.fetchCourseTypes(); // Reload course types after deletion
      } catch (error) {
        console.error('Error deleting course type:', error);
        this.successMessage = '';
        this.errorMessage = 'Error deleting course type';
      }
    },
    toggleDropdown(index) {
      if (this.openDropdownIndex === index) {
        this.openDropdownIndex = null;
      } else {
        this.openDropdownIndex = index;
      }
    },
  },
  mounted() {
    this.fetchCourseTypes();
    window.addEventListener('scroll', this.handleScroll);
  },
  beforeDestroy() {
    window.removeEventListener('scroll', this.handleScroll);
  },
};
</script>

<style scoped>
.message-cell {
  width: 500px; /* Adjust width as needed */
  word-wrap: break-word; /* Allow long words to be broken and wrap onto the next line */
  white-space: pre-line; /* Preserve line breaks in the message */
}
</style>
