<template>
  <div class="row">
    <div class="col-12">
      <div class="page-title-box d-flex align-items-center justify-content-between">
        <div class="page-title-right">
          <ol class="breadcrumb m-0">
            <li class="breadcrumb-item"><a href="javascript:void(0);">Course Type</a></li>
            <li class="breadcrumb-item active">View</li>
          </ol>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-header bg-transparent border-bottom">
          <div class="d-sm-flex flex-wrap mt-2">
            <h4 class="card-title mb-4">View Course Type</h4>
            <div class="ms-auto">
              <div class="d-flex flex-wrap gap-2">
                <button class="btn btn-danger" @click="deleteCourseType">
                  Delete <mdi-icon :path="mdiClipboardRemoveOutline" />
                </button>
                <router-link class="btn btn-primary waves-effect waves-light" to="/admin/course-type/list">
                  List <mdi-icon :path="mdiClipboardList" />
                </router-link>
                <router-link class="btn btn-info waves-effect waves-light" :to="'/admin/course-type/edit/' + courseTypeId">
                  Edit <mdi-icon :path="mdiClipboardEditOutline" />
                </router-link>
                <router-link class="btn btn-success waves-effect waves-light" to="/admin/course-type/create">
                  Create <mdi-icon :path="mdiClipboardPlusOutline" />
                </router-link>
              </div>
            </div>
          </div>
        </div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table align-middle table-nowrap mb-0">
              <thead class="table-light">
                <tr>
                  <th width="25%">Field</th>
                  <th>Value</th>
                </tr>
              </thead>
              <tbody>
                <tr v-for="(value, key) in courseType" :key="key">
                  <td>{{ formatFieldName(key) }}</td>
                  <td v-html="formatFieldValue(key, value)"></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import '@mdi/font/css/materialdesignicons.css';

import { mdiClipboardRemoveOutline, mdiClipboardList, mdiClipboardEditOutline, mdiClipboardPlusOutline } from '@mdi/js';
import mdiIcon from 'mdi-vue/v3';
import ApiService from '../../../api.js';

export default {
  components: {
    mdiIcon, // Register mdi-icon component locally in your component
  },
  data() {
    return {
      mdiClipboardRemoveOutline,
      mdiClipboardList,
      mdiClipboardEditOutline,
      mdiClipboardPlusOutline,
      courseTypeId: null,
      courseType: {},
      errorMessage: null,
    };
  },
  methods: {
    async getCourseType() {
      try {
        const response = await ApiService.getCourseType(this.courseTypeId);
        this.courseType = response.data.data;
      } catch (error) {
        console.error('Error fetching courseType:', error);
        this.errorMessage = 'Failed to fetch course type data.';
      }
    },
    formatFieldName(key) {
      switch (key) {
        case 'status':
          return 'Status';
        case 'priority':
          return 'Priority';
        default:
          return key.charAt(0).toUpperCase() + key.slice(1).replace('_', ' ');
      }
    },
    formatFieldValue(key, value) {
      switch (key) {
        case 'status':
          return value === 'Active' ? '<span class="badge badge-success">Active</span>' :
            '<span class="badge badge-danger">Archived</span>';
        default:
          return value;
      }
    },
    async deleteCourseType() {
      try {
        const response = await ApiService.deleteCourseType(this.courseTypeId);
        console.log(response.data);
        // Optionally update the UI or redirect after successful deletion
      } catch (error) {
        console.error('Error deleting courseType:', error);
        this.errorMessage = 'Failed to delete course type.';
      }
    }
  },
  created() {
    this.courseTypeId = this.$route.params.courseTypeId;
    this.getCourseType();
  },
};
</script>
