<template>
  <div>
      <Navbar />
      <div class="page-content">
          <Menu />
          <div class="content-wrapper">
              <router-view />
          </div>
      </div>
      <Footer />
  </div>
</template>

<script>
import Navbar from './components/Navbar.vue';
import Menu from './components/Menu.vue';
import Footer from './components/Footer.vue';

export default {
  components: {
      Navbar,
      Menu,
      Footer,
  },
  // Your component options
};
</script>
