<template>
  <form @submit.prevent="updatePost()" method="post" enctype="multipart/form-data">
    <div class="row">
      <div class="col-lg-9">
        <!-- Post -->
        <div class="card">
          <div class="card-header bg-transparent">
            <h4 class="card-title">Post</h4>
          </div>
          <div class="card-body">
            <fieldset>
              <div class="form-group row mb-3" :class="{ 'has-error': validationErrors.title }">
                <label for="formrow-title-input" class="col-md-2 form-label">Title</label>
                <div class="col-md-10">
                  <input type="text" class="form-control" v-model="title" placeholder="Enter Title" value="{{ title }}">
                  <span v-if="validationErrors.title" class="text-danger">{{ validationErrors.title }}</span>
                </div>
              </div>
              <div class="form-group row mb-3" :class="{ 'has-error': validationErrors.slug }">
                <label for="formrow-url-input" class="col-md-2 form-label">URL</label>
                <div class="col-md-10">
                  <input type="text" class="form-control" v-model="slug" placeholder="Enter URL" name="slug" value="{{ slug }}">
                  <span v-if="validationErrors.slug" class="text-danger">{{ validationErrors.slug }}</span>
                </div>
              </div>
            </fieldset>
          </div>
        </div>
        <!-- Post Details -->
        <div class="card">
          <div class="card-header bg-transparent">
            <h4 class="card-title">Post Details</h4>
          </div>
          <div class="card-body">
            <div class="form-group row mb-3">
              <label for="formrow-short-description-input" class="form-label">Short Description</label>
              <div class="col-md-12">
                <textarea v-model="shortDescription" name="shortDescription" class="form-control">{{ shortDescription }}</textarea>
            </div>
            </div>
            <div class="form-group row">
              <label for="formrow-description-input" class="form-label">Description</label>
              <div class="col-md-12">
                <tinymce id="editor" v-model="description" :initial-value="description" :api-image-url="apiImageUrl" name="description" class="form-control">{{ description }}</tinymce>
              </div>
            </div>
          </div>
        </div>
        <!-- SEO -->
        <div class="card">
          <div class="card-header bg-transparent">
            <h4 class="card-title">SEO</h4>
          </div>
          <div class="card-body">
            <div class="form-group row mb-3">
              <label for="formrow-meta-title-input" class="col-md-2 form-label">Meta Title</label>
              <div class="col-md-10">
                <input type="text" class="form-control" placeholder="Enter Meta Title" v-model="metaTitle" name="metaTitle" value="{{ metaTitle }}" />
              </div>
            </div>
            <div class="form-group row mb-3">
              <label for="formrow-meta-keyword-input" class="col-md-2 form-label">Meta Keyword</label>
              <div class="col-md-10">
                <input type="text" class="form-control" placeholder="Enter Meta Keyword" v-model="metaKeyword" name="metaKeyword" value="{{ metaKeyword }}" />
              </div>
            </div>
            <div class="form-group row">
              <label for="formrow-meta-description-input" class="col-md-2 form-label">Meta Description</label>
              <div class="col-md-10">
                <textarea class="form-control" placeholder="Enter Meta Description" v-model="metaDescription" name="metaDescription">{{ metaDescription }}</textarea>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Sidebar -->
      <div class="col-lg-3">
        <!-- Upload Image -->
        <div class="card">
          <div class="card-header bg-transparent">
            <h4 class="card-title">Upload Image</h4>
          </div>
          <div class="card-body">
            <fileinput :id="'fileInput'" :initialImageUrl="featuredImage" v-model="featuredImage" :acceptedFiles="'image/*'" />
          </div>
        </div>
        <!-- Status -->
        <div class="card">
          <div class="card-header bg-transparent">
            <h4 class="card-title">Status</h4>
          </div>
          <div class="card-body">
            <div class="row">
              <select class="form-control select2" v-model="status">
                <option>Select</option>
                <!-- Add options dynamically if needed -->
              </select>
            </div>
          </div>
        </div>
        <!-- Category -->
        <div class="card">
          <div class="card-header bg-transparent">
            <h4 class="card-title">Category</h4>
          </div>
          <div class="card-body">
            <div class="form-group mb-3">
              <select class="form-control select2" name="category" v-model="selectedCategory" @change="selectCategory">
                <option value="">Select Category</option>
                <option v-for="category in categories" :key="category.id" :value="category.id">{{ category.category_name }}</option>
              </select>
            </div>
            <div class="form-group">
              <div v-if="selectedCategory">
                <div class="form-check" v-for="subcategory in subcategories" :key="subcategory.id">
                  <input class="form-check-input" type="checkbox" :id="'subcategory_' + subcategory.id" :value="subcategory.id" v-model="selectedSubcategories">
                  <label class="form-check-label" :for="'subcategory_' + subcategory.id">{{ subcategory.category_name }}</label>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- Tags -->
        <div class="card">
          <div class="card-header bg-transparent">
            <h4 class="card-title">Tags</h4>
          </div>
          <div class="card-body">
            <div class="form-group">
              <vue3-tag-input v-model="tags"  name="tags" class="form-control" :inputOptions="inputOptions" />
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Submit Button -->
    <button type="submit" class="btn btn-primary w-md">Submit</button>
  </form>
</template>

<script>
import fileinput from '../FileInput.vue';
import { ref } from 'vue';
import Vue3TagInput from 'vue3-tag-input';
import ApiService from '../../../api.js';

export default {
  components: {
    fileinput,
    Vue3TagInput
  },
  setup() {
    // Define reactive variables for tags and input options
    const tags = ref([]);
    const inputOptions = {
      placeholder: 'Enter a tag',
      separator: ',',
      modelValue: '',
      unique: true,
    };

    return {
      tags,
      inputOptions,
    };
  },
  data() {
    return {
      postId: null,
      selectedCategory: '',
      selectedSubcategories: [],
      categories: [],
      subcategories:[],
      tags: [],
      inputOptions: '',
      post: {},
      title: '',
      slug: '',
      shortDescription: '',
      description: '',
      metaTitle: '',
      metaKeyword: '',
      metaDescription: '',
      status: '',
      loading: false,
      error: null,
      formSubmitted: false,
      successMessage: null,
      errorMessage: null,
      apiImageUrl: 'uploadPostImage',
      featuredImage: null,
      validationErrors: {}
    };
  },
  methods: {
    // Method to generate slug based on title
    generateSlug() {
      if (this.title && typeof this.title === 'string' && this.title.trim()) {
        // Convert title to slug format
        this.slug = this.title.toLowerCase().replace(/\s+/g, '-');
      }
    },
    handleFileChange(event) {
      // Get the file(s) from the input element
      const files = event.target.files[0];
      // Update the featuredImage property with the selected file(s)
      this.featuredImage = files;
    },
    async fetchCategories() {
      try {
        const params = {
          category_name: null,
          type: 'Parent',
          parent_id: null,
          status: 'active',
          limit: 100,
          offset: 0
        };
        const response = await ApiService.getCategoryList(params);
        this.categories = response.data.data;
      } catch (error) {
        console.error('Error fetching categories:', error);
      }
    },
    async selectCategory() {
      this.subcategories = []; // Clear previous subcategories
      try {
        const params = {
          category_name: null,
          type: 'Child',
          parent_id: this.selectedCategory,
          status: 'active',
          limit: 100,
          offset: 0
        };
        const response = await ApiService.getCategoryList(params);
        this.subcategories = response.data.data;
      } catch (error) {
        console.error('Error fetching Sub categories:', error);
      }
    },
    async getPost() {
      try {
        this.loading = true;
        const response = await ApiService.getPost(this.postId);
        const postData = response.data.data;

        // Update form fields with retrieved post data
        this.title = postData.title;
        this.slug = postData.slug;
        this.shortDescription = postData.short_description;
        this.description = postData.description || '';
        this.metaTitle = postData.meta_title || '';
        this.metaKeyword = postData.meta_keyword || '';
        this.metaDescription = postData.meta_description || '';
        this.status = postData.status;

        // Assuming featuredImage is a URL or null
        this.featuredImage = postData.featured_image
          ? import.meta.env.VITE_APP_URL + import.meta.env.VITE_POST_COVER_PATH + postData.featured_image
          : null;
        // Tags
        if (postData.tags && typeof postData.tags === 'object') {
          Object.values(postData.tags).forEach(value => {
            this.tags =[value]; // This will print each value without its corresponding key
});
        }

        this.selectedCategory = postData.parent_category_id;
        this.selectCategory();
        this.selectedSubcategories = Object.keys(postData.categories).map(Number);

 
          // Iterate through selectedSubcategories
          this.selectedSubcategories.forEach(subcategoryId => {
            // Get the checkbox element by its ID
            const checkbox = document.getElementById(`subcategory_${subcategoryId}`);
            // If the checkbox element exists, mark it as checked
            if (checkbox) {
              checkbox.checked = true;
            }
          });

        // Clear validation errors
        this.clearValidationErrors();
      } catch (error) {
        console.error('Error fetching post:', error);
        this.error = 'Error fetching post data';
      } finally {
        this.loading = false;
      }
    },

    async updatePost() {
      this.formSubmitted = true;
      this.clearValidationErrors(); // Clear existing validation errors
      if (!this.validateForm()) {
        return; // Abort submission if validation fails
      }
      try {
        this.loading = true;
        const response = await ApiService.updatePost(this.postId, {
          title: this.title,
          slug: this.slug,
          shortDescription: this.shortDescription,
          description: this.description,
          metaTitle: this.metaTitle,
          metaKeyword: this.metaKeyword,
          metaDescription: this.metaDescription,
          status: this.status,
          tags: this.tags,
          category: this.selectedCategory,
          subcategories: this.selectedSubcategories,
          featuredImage: this.featuredImage
        });

        this.post = response.data;
        this.successMessage = 'Post updated successfully';
      } catch (error) {
        this.errorMessage = 'Error updating post';
      } finally {
        this.loading = false;
      }
    },
    validateForm() {
      let isValid = true;
      this.validationErrors = {}; // Clear previous errors
      if (!this.title) {
        this.validationErrors.title = 'Title is required';
        isValid = false;
      }
      if (!this.slug) {
        this.validationErrors.slug = 'Slug is required';
        isValid = false;
      }
      // Add validation for other fields as needed
      return isValid;
    },
    clearValidationErrors() {
      this.validationErrors = {}; // Clear validation errors
    },
    resetForm() {
      this.postId = null;
      this.selectedCategory = '';
      this.selectedSubcategories = [];
      this.tags = [];
      this.title = '';
      this.slug = '';
      this.shortDescription = '';
      this.description = '';
      this.metaTitle = '';
      this.metaKeyword = '';
      this.metaDescription = '';
      this.status = '';
      this.featuredImage = null;
      this.validationErrors = {};
    },
  },
  mounted() {

  },
  created() {
    this.fetchCategories();
    this.postId = this.$route.params.postId;
    if (this.$route.name === 'admin-post-edit' && this.postId != "") {
      this.getPost();
    }
  },
  watch: {
    // Watch for changes in title and generate slug
    title() {
      this.generateSlug();
    }
  }
};
</script>


<style scoped>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>